<h1>Editing solicitude</h1>

<%= render "form", solicitude: @solicitude %>

<br>

<div>
  <%= link_to "Show this solicitude", @solicitude %> |
  <%= link_to "Back to solicitudes", solicitudes_path %>
</div>
